/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  width: 375px;
  min-height: 668px;
  font-family: var(--main-font);
  font-size: 18px;
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background-color);
  overflow: auto;
}



/* БЕРЕМ ТУТЬ, ИСПОЛЬЗУЕМ ВЕЗДЕ */

/* розовый фон текста */
.heading_decor {
  color: var(--heading-text-color);
  background-color: var(--accent-color);
}



/* ХЕДЕР */

.header {
  display: grid;
}

.header__theme-menu {
  padding: 38.5px 17px 0 0;
  display: grid;
  justify-self: end;
  color: var(--accent-color);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-list {
  display: grid;
  gap: 10.8px;
}

.title {
  padding: 64.9px 10px 0 10px;
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: var(--main-font);
  font-size: var(--intro-text);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  letter-spacing: -2.6px;
}

.decorated_top {
  margin: 10px 10px 0 0;
  display: grid;
  justify-self: end;
  width: 25.036px;
  height: 25.002px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated_bottom {
  margin: 31px 0 10px 10px;
  width: 25.036px;
  height: 25.002px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header_description {
  margin: 53.6px 10px 0 10px;
  color: var(--heading-text-color);
  font-family: var(--main-font);
  font-size: var(--main-text);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}



/* ОСНОВНОЕ */

.link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
  border-bottom: 1px solid var(--content-text-color);

}

img {
  width: 100%;
}

.section {
  margin: 40px 10px 0 10px;
}

.galery {
  margin: 50px 10px 40px 10px;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  gap: 10px;
}

.content__list-item {
  margin-top: 20px;
}

.content__list-item_paragraph {
  margin: 10px 3.97px 0 0;
  color: var(--content-text-color);
}

.title_decor {
  font-family: var(--main-font);
  font-size: var(--main-text);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--accent-color);
}

.advise {
  margin-top: 20px;;
}



/* ФУТЕР */

.footer {
  display: grid;
}

.footer_heading {
  margin: 209px 0;
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  display: flex;
  width: 375px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-size: var(--intro-text)
}