/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070; /* ядерный фон/тень */
  --title-color: #DB00FF; /* цвет вход/выход */
  --heading-text-color: #000028; /* заголовки */
  --background-color: #000028; /* подложка */
  --intro-text: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); /* размер шрифта входной/выходной */
  --main-text: clamp(1.125rem, 1.125rem + 0vw, 1.125rem); /* размер шрифта страницы*/
  --main-font: 'IBM Plex Mono' , Arial, Helvetica, sans-serif; /* шрифт общйи*/
}